
@{
    ViewBag.Title = "Contact Us";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>

    <div class="container body-content">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:jingangxiao@gmail.com">jingangxiao@gmail.com</a><br />
        </address>
    </div>

</body>
</html>
