
@{
    ViewBag.Title = "Contact Us";
}

 
 <head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
 

    <div class="container body-content">
        <address>
             Chciago, IL<br />
            <abbr title="Phone">P:</abbr>
            312.532.4437
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:jingangxiao@gmail.com">jingangxiao@gmail.com</a><br />
        </address>
    </div>

 
 