
@{ 
    ViewBag.Title = "SearchResult";
}
<head>
    <style>
        .flex-containerBig {
            width: 100%;
            height: 100%;
            flex-flow:column;
            background-color: #d4d4d4;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
            align-items: center;
         }
        .flex-containerSmall{
            display:flex;
            flex-flow:row;
        }
         .flex-containerXSmall{
            display:flex;
            flex-flow:row;
            justify-content: flex-end;
         }

        .flex-itemBig {
            background-color: white;           
            height: 135px;
            margin: 10px;
        }

        .flex-itemSmall {
            margin: 10px;
        }
        #CarrierImg {
            max-width: 30px;
            max-height: 30px;
        }
    </style>
</head>
 
<div ng-controller="TripsController" class="container flex-containerBig">
    <div ng-init="getTrips()"></div>
             <div ng-repeat="x in trips.trips.tripOption" class="flex-itemBig col-lg-6">
                 <form ng-submit="tripSelect()" ng-controller="TripController">
                     <div class="flex-containerSmall">
                         <img src="~/img/{{x.slice[0].segment[0].flight.carrier }}.png" id="CarrierImg" class="flex-containerSmall flex-itemSmall" />
                         <div class="flex-itemSmall">{{x.slice[0].segment[0].leg[0].departureTime | date:'MM/dd/yyyy h:mma'}}</div>
                         <div class="flex-itemSmall">{{x.slice[0].segment[x.slice[0].segment.length-1].leg[0].arrivalTime | date:'MM/dd/yyyy h:mma'}}</div>
                         <div class="flex-itemSmall">{{x.slice[0].duration / 60 | number:0}} hours </div>
                         <div class="flex-itemSmall">{{x.slice[0].segment[0].flight.carrier }}{{x.slice[0].segment[0].flight.number }}</div>
                         <div class="flex-itemSmall">{{x.saleTotal}}</div>
                     </div>
                     <div class="flex-containerSmall">
                         <div class="flex-itemSmall">{{x.slice[0].segment[0].leg[0].origin }} - {{x.slice[0].segment[x.slice[0].segment.length-1].leg[0].destination }}</div>
                     </div>
                     <div class="flex-containerXSmall">
                         <input type="submit" class="btn btn-primary" value="Select">
                     </div>
                 </form>
             </div>
   </div>
 }

