@{ 
    ViewBag.Title = "SearchResult";
}
<div ng-controller="TripsController" class="container">
    <div ng-init="getTrips()"></div>
    <table>
        <tr ng-repeat="x in trips.trips.tripOption">
            <td>{{x.id }}</td>
            <td>{{x.slice[0].segment[0].flight.carrier }}</td>
            <td>{{x.slice[0].segment[0].flight.number }}</td>
            <td>{{x.saleTotal}}</td>
        </tr>
    </table>
</div>

