@{
    ViewBag.Title = "ConfirmationSent";
}

<div class="row">
    <div class="col-xs-12"></div>

</div>
<div class="well">
    <h2>Sent!</h2>
    <p>An email has been sent to you with instructions on confirming your new account.</p>
    @Html.ActionLink("Go to the homepage", "Index", "Home", null, new { @class = "btn btn-default" })
</div>
 
