
<nav class="pull-right">
    <ul class="nav navbar-nav">
        @if (User.Identity.IsAuthenticated)
        {
            <li>
                Hello, @User.Identity.Name!
            </li>
            <li>
                @Html.ActionLink("Logout", "Logout", "Membership")
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Login", "Login", "Membership")
            </li>
            <li>
                @Html.ActionLink("Register", "Registration", "Membership")
            </li>
        }
    </ul>
</nav>